html * {
    box-sizing: border-box;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

html ul {
    list-style: none;
}

.error-msg {
    color: red;
}

.navbar {
    height: 30px;
    background-color: #333;
    width: 100%;
    margin-bottom: 10px;
}

.navbar a, navbar span, navbar div {
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .right {
    float: right;
    padding: 0 10px;
}

.navbar .left {
    padding: 0 5px;
    float: left;
}

.navbar .navbar-menu {
    padding: 0;
    margin: 0;
}

.navbar .navbar-menu li {
    display: inline-block;
    padding: 0 5px;
}

.settings .menu {
    width: 15%;
    float: left;
    height: 100%;
}

.settings .panel {
    width: 85%;
    float: right;
    height: 100%;
    margin-top: 16px;
}

.settings .panel h3 {
    margin: 0;
}

fieldset {
    border: 0;
}

h2 {
    margin-top: 0;
}

button {
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
}

.account-dashboard .parent {
    width: 50%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 20px;
}

.account-dashboard .children {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    border-top: 0;
    overflow: auto;
}

.account-dashboard .children > div {
    width: 50%;
    padding: 20px;
    display: inline-block;
    float: left;
}

.account-dashboard .children > div:first-child {
    border-right: 1px solid black;
}
