<div class="account-dashboard">
    <div class="parent">
        <h2>Parent</h2>

        <div>{{ vm.selectedFruit }}</div>

        <select ng-model="vm.selectedFruit"
                ng-change="vm.broadcastToChildren()"
                ng-options="fruit for fruit in vm.fruits"
                size="7"
        ></select>


    </div>

    <div class="children">

        <div ng-controller="AccountDashboardChild1Ctrl as child1Ctrl">
            <h2>Child #1</h2>

            <div>{{ child1Ctrl.selectedFruit }}</div>

            <select ng-model="child1Ctrl.selectedFruit"
                    ng-change="child1Ctrl.emitChangeEvent()"
                    ng-options="fruit for fruit in vm.fruits"
                    size="7"
            ></select>
        </div>

        <div ng-controller="AccountDashboardChild2Ctrl as child2Ctrl">
            <h2>Child #2</h2>

            <div>{{ child2Ctrl.selectedFruit }}</div>
        </div>

    </div>
</div>