<form name="vm.editAccountForm"  ng-submit="vm.submit()">
    <fieldset>
        <label for="username">Username:</label>
        <input id="username" type="text"
               name="username"
               ng-model="vm.user.name"
               required />
    </fieldset>

    <fieldset>
        <label for="phone-number">Phone number</label>
        <input id="phone-number" type="text"
               name="phone"
               ng-model="vm.user.phone"
               ng-change="vm.validatePhoneNumber()"
               required />

        <span ng-if="vm.editAccountForm.$submitted || vm.editAccountForm.phone.$touched">
            <span class="form-error" ng-if="!vm.validPhoneNumber">Phone number must start with + followed by the country code and national number.</span>
        </span>
    </fieldset>

    <fieldset>
        <label for="email">Email</label>
        <input id="email" type="email"
               name="email"
               ng-model="vm.user.email"
               required email />
    </fieldset>

    <fieldset>
        <label for="password">Password:</label>
        <input id="password" type="password"
               name="password"
               ng-model="vm.user.password"
               ng-change="vm.validatePasswordMatch()"
               required />
    </fieldset>

    <fieldset>
        <label for="password-confirm">Confirm password:</label>
        <input id="password-confirm" type="password"
               name="confirm"
               ng-model="vm.user.passwordConfirm"
               ng-change="vm.validatePasswordMatch()">

        <span ng-if="vm.editAccountForm.$submitted || vm.editAccountForm.confirm.$touched">
            <span class="form-error" ng-if="!vm.passwordsMatch">Passwords must match.</span>
        </span>
    </fieldset>

    <button type="submit">Submit</button>
</form>