<form name="EditAccountCtrl.editAccountForm"  ng-submit="EditAccountCtrl.submit()">
    <fieldset>
        <label for="username">Username:</label>
        <input id="username" type="text"
               name="username"
               ng-model="EditAccountCtrl.user.name"
               required />
    </fieldset>

    <fieldset>
        <label for="email">Email</label>
        <input id="email" type="email"
               name="email"
               ng-model="EditAccountCtrl.user.email"
               required email />
    </fieldset>

    <fieldset>
        <label for="password">Password:</label>
        <input id="password" type="password"
               name="password"
               ng-model="EditAccountCtrl.user.password"
               ng-change="EditAccountCtrl.validatePasswordMatch()"
               required />
    </fieldset>

    <fieldset>
        <label for="password-confirm">Confirm password:</label>
        <input id="password-confirm" type="password"
               name="confirm"
               ng-model="EditAccountCtrl.user.passwordConfirm"
               ng-change="EditAccountCtrl.validatePasswordMatch()">

        <span ng-if="EditAccountCtrl.editAccountForm.$submitted || EditAccountCtrl.editAccountForm.confirm.$touched">
            <span class="form-error" ng-if="!EditAccountCtrl.passwordsMatch">Passwords must match.</span>
        </span>
    </fieldset>

    <button type="submit">Submit</button>
</form>