<form name="EditAccountCtrl.editAccountForm" novalidate ng-submit="EditAccountCtrl.submit()">
    <fieldset>
        <label for="username">Username:</label>
        <input id="username" type="text"
               name="username"
               ng-model="EditAccountCtrl.user.name"
               required />

            <span ng-if="EditAccountCtrl.editAccountForm.username.$error &&
                         (EditAccountCtrl.editAccountForm.$submitted || EditAccountCtrl.editAccountForm.username.$touched)">
                <span class="form-error" ng-if="EditAccountCtrl.editAccountForm.username.$error.required">Name is required.</span>
            </span>
    </fieldset>

    <fieldset>
        <label for="email">E-mail:</label>
        <input id="email" type="text"
               name="email"
               ng-model="EditAccountCtrl.user.email"
               required />

            <span ng-if="EditAccountCtrl.editAccountForm.email.$error &&
                         (EditAccountCtrl.editAccountForm.$submitted || EditAccountCtrl.editAccountForm.email.$touched)">
                <span class="form-error" ng-if="EditAccountCtrl.editAccountForm.email.$error.required">E-mail is required.</span>
                <span class="form-error" ng-if="EditAccountCtrl.editAccountForm.email.$error.email">E-mail is not valid.</span>
            </span>
    </fieldset>

    <fieldset>
        <label for="password">Password:</label>
        <input id="password" type="password"
               name="password"
               ng-model="EditAccountCtrl.user.password"
               ng-change="EditAccountCtrl.validatePasswordMatch()"
               required />

            <span ng-if="EditAccountCtrl.editAccountForm.password.$error &&
                         (EditAccountCtrl.editAccountForm.$submitted || EditAccountCtrl.editAccountForm.password.$touched)">
                <span class="form-error" ng-if="EditAccountCtrl.editAccountForm.password.$error.required">Password is required.</span>
            </span>
    </fieldset>

    <fieldset>
        <label for="password-confirm">Confirm password:</label>
        <input id="password-confirm" type="password"
               name="confirm"
               ng-model="EditAccountCtrl.user.passwordConfirm"
               ng-change="EditAccountCtrl.validatePasswordMatch()" />

        <span ng-if="EditAccountCtrl.editAccountForm.$submitted || EditAccountCtrl.editAccountForm.confirm.$touched">
            <span class="form-error" ng-if="!EditAccountCtrl.passwordsMatch">Passwords must match.</span>
        </span>
    </fieldset>

    <button type="submit">Submit</button>
</form>